@model LoginPanelModel
<div class="sessionInfo">
    <div class="user-widget">
        <a href="/settings/account">
            <span class="user-link">@Model.Name</span>
        </a>
    </div>
</div>